<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>West Flow</title>
	</head>
	<body>
		<header>
			<p>west flow</p>

			<div>
				<a href="/">Home</a>
				<a href="/products"></a>
			</div>

			<div>
				<button>buscador</button>
				<button>perfil</button>
				<button>carrito</button>
			</div>
		</header>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
